<%- include('partials/header') %>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/home.js" defer></script>
    <div class="content button" id="sendRegistrationLink">
        <h2>Create registration link</h2>
    </div>

    <style>
        .menu-item.home svg {
            transform: scale(1.5);
            color: #4caf50;

            /* fill: #00d4ff; */
        }

        .menu-item.home {
            transform: translateY(-5px);
            font-weight: bold;
        }
    </style>

    <!-- <div class="content">
        <h2>Welcome to the Modern Page</h2>
        <p>Enjoy the sleek design and bottom navigation menu.</p>
    </div> -->



    <%- include('partials/footer') %>