<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/login.js" defer></script>
    <title>McMenemy | <%= title %>
    </title>
    <style>
        .alert {
            padding: 15px;
            background-color: #f44336;
            /* Red */
            color: white;
            margin-bottom: 15px;
            border-radius: 34px;
        }
    </style>
</head>

<body>
    <div class="login-container">
        <h2>Forgot Password</h2>
        <% if (message) { %>
            <div class="alert" id="alert-message">
                <%= message %>
            </div>
            <% } %>
                <form id="forgotpassword" method="POST" action="/forgotpassword">
                    <div class="input-group">
                        <input type="text" id="username" name="username" placeholder="Username" required>
                    </div>

                    <button type="submit" class="login-button" id="submitButton">Login</button>
                </form>
    </div>
    <script>
        window.onload = function () {
            var alertMessage = document.getElementById('alert-message');
            if (alertMessage) {
                setTimeout(function () {
                    alertMessage.style.display = 'none';
                }, 3000);
            }
        };

        document.getElementById("submitButton").addEventListener("click", function (e) {
            var username = document.getElementById("username").value;
            if (username === "") {
                alert("Please enter a username");
                return false;
            }
            document.getElementById("forgotpassword").submit();

        });
    </script>
</body>

</html>