<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/login.js" defer></script>
    <title>McMenemy | <%= title %>
    </title>
    <style>
        .alert {
            padding: 15px;
            background-color: #f44336;
            /* Red */
            color: white;
            margin-bottom: 15px;
            border-radius: 34px;
        }
    </style>
</head>

<body>
    <div class="login-container">
        <h2>Login</h2>
        <% if (message) { %>
            <div class="alert" id="alert-message">
                <%= message %>
            </div>
            <% } %>
                <form id="registerForm" method="POST" action="/login">
                    <div class="input-group">
                        <input type="text" id="username" name="username" placeholder="Username" required>
                    </div>
                    <div class="input-group">
                        <input type="password" id="password" name="password" placeholder="Password" required>
                    </div>
                    <button type="submit" class="login-button" id="submitButton">Login</button>
                    <div class="forgot-password"><a href="/forgotpassword">Forgot Password?</a></div>
                </form>
    </div>
    <script>
        window.onload = function () {
            var alertMessage = document.getElementById('alert-message');
            if (alertMessage) {
                setTimeout(function () {
                    alertMessage.style.display = 'none';
                }, 5000);
            }
        };
    </script>
</body>

</html>