<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>McMenemy | <%= title %>
    </title>
    <style>
        .alert {
            display: none;
            background-color: red;
            color: white;
            padding: 10px;
            margin-bottom: 15px;
            text-align: center;
            border-radius: 34px;
        }
    </style>
</head>

<body>
    <div class="login-container">
        <h2>Reset Password</h2>
        <% if (typeof message !=='undefined' ) { %>
            <div class="alert" id="alertMessage">
                <%= message %>
            </div>
            <% } %>
                <form action="/resetpassword" method="POST" id="resetpassword">
                    <input type="hidden" id="registrationCode" name="registrationCode" value="<%= registrationCode %>">

                    <div class="input-group">
                        <input type="password" id="password" name="password" placeholder="New Password" required>
                    </div>
                    <div class="input-group">
                        <input type="password" id="confirmPassword" name="confirmPassword"
                            placeholder="Confirm Password" required>
                    </div>
                    <button type="submit" id="submitButton" class="login-button">
                        Reset Password
                    </button>
                </form>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const alertMessage = document.getElementById('alertMessage');
            if (alertMessage) {
                alertMessage.style.display = 'block';
                setTimeout(() => {
                    alertMessage.style.display = 'none';
                }, 3000);
            }
        });

        document.getElementById("submitButton").addEventListener("click", function (event) {
            event.preventDefault();
            const password = document.getElementById("password").value;
            const confirmPassword = document.getElementById("confirmPassword").value;


            if (!password || !confirmPassword) {
                alert("All fields are required")
                return;
            }

            if (password !== confirmPassword) {
                alert("Passwords do not match")
            }

            document.getElementById("resetpassword").submit();

        });


    </script>
</body>

</html>